<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- industry Tab -->
  <ion-tab title="行业股票" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/tab/industry">
    <ion-nav-view name="tab-industry"></ion-nav-view>
  </ion-tab>

  <!-- bookmarks Tab -->
  <ion-tab title="收藏列表" icon-off="ion-ios7-star-outline" icon-on="ion-ios7-star" href="#/tab/bookmarks">
    <ion-nav-view name="tab-bookmarks"></ion-nav-view>
  </ion-tab>

  <!-- Settines Tab -->
  <ion-tab title="设置" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>