/* Empty. Add your own CSS if you like */
a:link {
	text-decoration: none;
}

.item-odd {
	overflow: auto;
	padding: 8px 8px 8px 8px;
	text-overflow: inherit;
	white-space: normal;
}

.item-even {
	overflow: auto;
	padding: 8px 8px 8px 8px;
	text-overflow: inherit;
	white-space: normal;
	background-color: #f5f5f5;
	color: #222;
}